.authentication-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    width: 100%;

    .authentication-form {
        max-width: 800px;
        min-width: 400px;
        padding: 30px;
    }

    .authentication-logo {
        margin-bottom: 30px;
    }
}