.wuphfs-container {
    width: 100%;
}

.wuphf {
    .metadata {
        display: flex;
        .author {

        }
        .date {
            flex: 1;
            margin-left: 10px;
        }
        .actions {

        }
    }
    .text {

    }
    .media {
        
    }
}